<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Extensions.Logging" />
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <!-- Console for development -->
        <target name="console" xsi:type="Console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

        <!-- File for all environments -->
        <target name="file" xsi:type="File"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                archiveFileName="${basedir}/logs/archives/{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7" />
    </targets>

    <rules>
        <!-- Skip Microsoft logs unless important -->
        <logger name="Microsoft.*" minlevel="Warn" final="true" />
        <logger name="System.*" minlevel="Warn" final="true" />
    
        <!-- Your application logs -->
        <logger name="*" minlevel="Info" writeTo="console,file" />
    </rules>
</nlog>