<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

    <targets>
        <!-- Console Target -->
        <target name="console" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

        <!-- File Target -->
        <target name="file" xsi:type="File"
                fileName="logs/${shortdate}.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                archiveFileName="logs/archives/{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7" />
    </targets>

    <rules>
        <!-- Microsoft and System logs -->
        <logger name="Microsoft.*" minlevel="Warn" final="true" />
        <logger name="System.*" minlevel="Warn" final="true" />
    
        <!-- Your application logs -->
        <logger name="*" minlevel="Debug" writeTo="console,file" />
    </rules>
</nlog>